
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-6">
        <h2>Listado de Direcciones</h2>
    </div>
    <div class="col-6">
        <a asp-area="Main" asp-controller="Direccion" asp-action="Create" class="btn btn-success">
            Crear Direccion
        </a>
    </div>

</div>

<table id="tablaDireccion" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Calle</th>
            <th>Numero</th>
            <th>Colonia</th>
            <th>Ciudad</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script src="~/js/Direccion.js">

    </script>
}
