
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-6">
        <h2>Listado de Instructor</h2>
    </div>
    <div class="col-6">
        <a asp-area="Main" asp-controller="Instructor" asp-action="Create" class="btn btn-success">
            Crear instructor
        </a>
    </div>

</div>

<table id="tableInstructores" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>ApPaterno</th>
            <th>ApMaterno</th>
            <th>Foto</th>
            <th>Codigo Instructor</th>
            <th>Acciones</th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script src="~/js/Instructor.js">

    </script>
}
